body {
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

p {
  margin: 90px, 90px, 90px, 90px;
}

.row {
  display: flex;
}

.column {
  float: left;
  width: 50%;
}