body {
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
  margin: 100px, 100px, 100px, 100px;
}

h1 {
  color: white;
  font-family: Georgia, serif;
  text-align: center;
}

h2 {
  color: white;
  font-family: Georgia, serif;
  text-align: center;
}

p {
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  margin: 90px, 90px, 90px, 90px;
}

.row {
  display: flex;
}

.column1 {
  float: right;
  width: 200px;
}

.column2 {
  float: left;
  width: 100%;
}