body {
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
  margin-left: 150px;
  margin-right: 150px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  background-color: black;
  border-radius: 25px;
}

h1 {
  color: white;
  font-family: Georgia, serif;
  text-align: center;
}

h2 {
  color: white;
  font-family: Georgia, serif;
  text-align: center;
}

p {
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
}

a {
  color: lightblue;
}

.row {
  display: flex;
}

.column1 {
  float: center;
  width: 500px;
  padding: 50px;
}

.column2 {
  float: left;
  width: 100%;
  padding: 50px;
}